[Desktop Entry]
Type=Application
Version=1.0
Name=RSDKv5U
Icon=io.github.santiagocezar.maniatic-launcher
Exec=maniatic
Categories=Game;
Keywords=Sonic;Mania;Mania Plus;
