[Desktop Entry]
Type=Application
Version=1.0
Name=Maniatic Launcher
Icon=io.github.santiagocezar.maniatic-launcher
Exec=maniatic %u
Categories=Game;
Keywords=Sonic;Mania;Mania Plus;
MimeType=x-scheme-handler/smmm
